/* Primary color - #757575 */
/* Sub color - #212121 */
/* Brand color #2196F3*/
/* Black color #000000 */
/* White color #FFFFFF */
/* Primary bg color #2F303A */
/* Maine font - Roboto 400-500-700-900  */
/* Logo font - 'Raleway' 700 */
/*  */
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --brand-color: #2196f3;
  --black-text-color: #000000;
  --white-text-color: #fff;
  --white-bg-color: #fff;
  --button-bg-color: #f5f4fa;
  --hero-bg-color: #2f303a;
  --footer-bg-color: #2f303a;
}

/* body */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* !------------------Reset------------------ */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  display: block;
}

/* ? Універсальні класи */

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Універсальний клас для h2 на сторінці */
.section-title {
  margin-bottom: 50px;
  text-align: center;

  font-size: 36px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}

/* !------------------CONTAINER------------------ */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  /* outline: 1px solid tomato; */
}

/* Задаю відступи для класа section */

/* ?------------------hidden для h1-h2 ------------------ */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*! ------------------HEADER----------------------  */

.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--white-bg-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}

.site-nav-item {
  /* outline: 1px solid salmon; */
}

.site-nav .nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.3333;
}

/* Логотип */
.logo {
  display: block;

  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.head-style {
  color: var(--black-text-color);
}

/* hover and focus для посилань */

.header .link:hover,
.header .link:focus {
  color: var(--brand-color);
}

/*! ------------------CONTACTS----------------------  */

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-item + .contacts-item {
  margin-left: 50px;
}

.contacts .nav-link {
  display: block;
  color: var(--primary-text-color);
}

/*! ------------------HERO----------------------*/

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  width: 696px;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

/* Додаю стилі до кнопки "замовити послугу" */
.hero-button {
  display: inline-block;
  padding: 9px 31px;
  text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--white-text-color);

  background-color: var(--brand-color);
  border: 1px solid var(--brand-color);
  border-radius: 4px;
  cursor: pointer;
}

/* !-----------------------Feature------------------- */

.feature {
  background-color: var(--white-bg-color);
}

.feature-list {
  display: flex;
  gap: 30px;
  /* flex-wrap: wrap; */
}

.feature-item {
  flex-basis: calc((100% - 90px) / 4);
}

.feature-item::before {
  display: block;
  background: #f5f4fa;
  background-size: 70px 70px;
  margin-bottom: 30px;
  /* display: block; */
  content: "";
  height: 120px;
}

.antena-icon::before {
  background-image: url("../images/antenna.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.clock-icon::before {
  background-image: url("../images/clock.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.diagram-icon::before {
  background-image: url("../images/diagram.svg");

  background-repeat: no-repeat;
  background-position: center;
}

.astronaut-icon::before {
  background-image: url("../images/astronaut.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feature-title {
  margin-bottom: 10px;

  line-height: 1.2;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.feature-text {
  line-height: 1.7;
}

/* !-------------------Process---------------- */

.process {
  padding-top: 0;
  /* padding-bottom: 94px; */
}

.process-list {
  display: flex;
  gap: 30px;
}

/* !-------------------Team---------------- */

.team {
  text-align: center;

  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  width: calc((100%-90px) / 4);

  background-color: var(--white-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .photo {
  display: block;
}

.team-content {
  padding-top: 30px;
  margin-bottom: 16px;
}

.team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}

.team-subtitle {
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-text-color);
}

.social {
  margin-bottom: 30px;
  margin-left: 32px;
  margin-right: 32px;
}

.social-list {
  display: inline-flex;
  gap: 10px;
}

.social-item {
}

.social-link {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-link:hover {
  background-color: var(--brand-color);
}

.insta-icon {
  background-image: url("../images/instagram.svg");
}
.twitter-icon {
  background-image: url("../images/twitter.svg");
}
.fb-icon {
  background-image: url("../images/facebook.svg");
  background-size: 10px 20px;
}
.in-icon {
  background-image: url("../images/linkedin.svg");
}

/* !-------------------FOOTER---------------- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bg-color);
}

.footer .logo {
  margin-bottom: 20px;
}

.foot-style {
  color: var(--white-text-color);
}

.address-list {
}

.address-item + .address-item {
  margin-top: 9px;
}

.street {
  color: var(--white-text-color);
  font-style: normal;
}

.mail,
.phone {
  color: var(--primary-text-color);
  font-style: normal;
}

/* !-------------------PORTFOLIO---------------- */

.page .line {
  border-bottom: 1px solid #ececec;
}

.portfolio {
  background-color: var(--white-bg-color);
}

.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
}

.radio-button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--secondary-text-color);
  background-color: var(--button-bg-color);
}

.radio-button:first-child {
  padding-left: 25px;
  padding-right: 25px;
}

.radio-button:hover,
.radio-button:focus {
  color: var(--white-text-color);
  background-color: var(--brand-color);
}

/* ?-------------------project list---------------- */

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-item {
  display: flex;
  width: calc((100% - 60px) / 3);

  background-color: var(--white-bg-color);
}

/* .projects-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
} */
/* .projects-list .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

.projects-cover {
  display: block;
}

.projects-link {
}

.bot-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.project-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.projects-text {
  font-size: 16px;
  line-height: 2;
  color: var(--primary-text-color);
}
