/* Primary color - #757575 */
/* Sub color - #212121 */
/* Brand color #2196F3*/
/* Black color #000000 */
/* White color #FFFFFF */
/* Primary bg color #2F303A */
/* Maine font - Roboto 400-500-700-900  */
/* Logo font - 'Raleway' 700 */
/*  */
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --brand-color: #2196f3;
  --black-text-color: #000000;
  --white-text-color: #fff;
  --white-bg-color: #fff;
  --button-bg-color: #f5f4fa;
  --hero-bg-color: #2f303a;
  --footer-bg-color: #2f303a;
}

/* body */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Сброс марджинов для загаловков и тестовых блоков */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Універсальний класс збросу стилів списку */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Універсальний клас для збросу стилів посилань */
.link {
  text-decoration: none;
}

/* Блок контейнер */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  /* outline: 1px solid tomato; */
}

/* Задаю відступи для класа section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* HEADER  */

.header {
  background-color: var(-white-bg-color);
}

/* NAV MENU */
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item {
  /* outline: 1px solid salmon; */
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.3333;
}

/* Логотип */
.logo {
  display: block;

  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.head-style {
  color: var(--black-text-color);
}

/* hover and focus для посилань */

.header .link:hover,
.header .link:focus {
  color: var(--brand-color);
}

/* CONTACTS  */
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts .item + .item {
  margin-left: 50px;
}

.contacts .nav-link {
  color: var(--primary-text-color);
}

/* HERO SECTION  */
.hero {
  padding: 200px 0;
  text-align: center;

  background-color: var(--hero-bg-color);
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

/* Додаю стилі до кнопки "замовити послугу" */
.order-button {
  display: inline-block;
  padding: 9px 31px;
  text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--white-text-color);

  background-color: var(--brand-color);
  border: 1px solid var(--brand-color);
  border-radius: 4px;
  cursor: pointer;
}

/* Універсальний клас для h2 на сторінці */
.section-title {
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}

/* Переваги  */
.feature {
  background-color: var(-white-bg-color);
}

.feature-list {
  display: flex;
  gap: 30px;
  /* flex-wrap: wrap; */
}

.feature-list .item {
  /* width: calc((100%-90px) / 4); */
  flex-basis: calc(100% - 90px) / 4);
}

.feature-list .item + .item {
  margin-left: 30px;
}

.feature-title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.2;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.feature-list .text {
  line-height: 1.7;
}

/* Що ми робимо*/
.process {
  padding-top: 0;
  /* padding-bottom: 94px; */
}

.process-list {
  display: flex;
}

.process-list .item + .item {
  margin-left: 30px;
}

/* TEAM  */
.team {
  text-align: center;

  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-list .item {
  padding-bottom: 20px;
  width: calc((100%-90px) / 4);

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-list img {
  margin-bottom: 30px;
}

.team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}

.team-list .text {
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-text-color);
}

/* FOOTER  - ADRESS*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bg-color);
}

.footer .logo {
  margin-bottom: 20px;
}

.foot-style {
  color: var(--white-text-color);
}

.contacts-list .item + .item {
  margin-top: 9px;
}

.street {
  color: var(--white-text-color);
  font-style: normal;
}

.mail,
.phone {
  color: var(--primary-text-color);
  font-style: normal;
}

/* Портфоліо */

/* Тестовая линия для хедер */

.page .line {
  border-bottom: 1px solid #ececec;
}

.portfolio {
  background-color: var(-white-bg-color);
}

/* Button style  */

.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-list .item {
}

.filter-list .item + .item {
  margin-left: 30px;
}

.filter-list .radio-button {
  display: block;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--secondary-text-color);
  background-color: var(--button-bg-color);

  cursor: pointer;
}

.filter .radio-button:first-child {
  padding-left: 25px;
  padding-right: 25px;
}

.radio-button:hover,
.radio-button:focus {
  color: var(--white-text-color);
  background-color: var(--brand-color);
}

/* Projects list */
.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-list .item {
  display: flex;
  width: calc((100% - 60px) / 3);

  background-color: var(-white-bg-color);
}

.projects-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects-cover {
  display: block;
}

.bot-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

/* .projects-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

.projects-list .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.project-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.projects-text {
  font-size: 16px;
  line-height: 2;
  color: var(--primary-text-color);
}
